<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>

    </pluginGroups>

    <proxies>

    </proxies>

    <servers>
        <server>
            <id>snapshots</id>
            <username>${user}</username>
            <password>${password}</password>
        </server>
        <server>
            <id>releases</id>
            <username>${user}</username>
            <password>${password}</password>
        </server>
        <server>
            <id>cws-snapshots</id>
            <username>${user}</username>
            <password>${password</password>
        </server>
        <server>
            <id>cws-releases</id>
            <username>${user}</username>
            <password>${password</password>
        </server>
        <server>
            <id>cws-nexus</id>
            <username>${shadow-user}</username>
            <password>${shadow-password}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>cws-nexus</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>https://nexus.cwscloud.net/repository/central</url>
                </repository>
                <repository>
                    <id>cws-snapshots</id>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <url>https://nexus.cwscloud.net/repository/snapshots</url>
                </repository>
                <repository>
                    <id>cws-releases</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>https://nexus.cwscloud.net/repository/releases</url>
                </repository>
                <repository>
                    <id>jcenter-snapshots</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <name>jcenter</name>
                    <url>https://jcenter.bintray.com/</url>
                </repository>
                <repository>
                    <id>bintray-adjohnson916-maven</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <name>bintray-adjohnson916-maven</name>
                    <url>http://dl.bintray.com/adjohnson916/maven</url>
                </repository>
                <repository>
                    <id>jgit-repository</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>https://repo.eclipse.org/content/groups/releases/</url>
                </repository>
                <repository>
                    <id>bintray-adjohnson916-maven</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <name>bintray-adjohnson916-maven</name>
                    <url>https://dl.bintray.com/adjohnson916/maven/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>cws-nexus</id>
                    <url>https://nexus.cwscloud.net/repository/central</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <mirrors>
        <mirror>
            <id>cws-nexus</id>
            <name>cws-nexus</name>
            <url>https://nexus.cwscloud.net/repository/central</url>
            <mirrorOf>central,cws-nexus</mirrorOf>
        </mirror>
    </mirrors>
</settings>
